<?xml version="1.0"?>
<!-- 
		Note: As an alternative to hand editing this file you can use the 
		web admin tool to configure settings for your application. Use
		the Website->Asp.Net Configuration option in Visual Studio.
		A full list of settings and comments can be found in 
		machine.config.comments usually located in 
		\Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
		</sectionGroup>
	</configSections>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
			<property name="proxyfactory.factory_class">NHibernate.ByteCode.Spring.ProxyFactoryFactory, NHibernate.ByteCode.Spring</property>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string_name">MainDB</property>
			<property name="default_schema">HelpRequest.dbo</property>
			<property name="generate_statistics">true</property>
			<property name="adonet.batch_size">25</property>
			<!-- HBM Mapping Files -->
			<!--<mapping assembly="HelpRequest.Core"/>-->
		</session-factory>
	</hibernate-configuration>
	<appSettings file="AppDebugSettings.config">
		<add key="HelpDeskEmail" value="jsylvestre@ucdavis.edu"/>
		<add key="AppHelpDeskEmail" value="jsylvestre@ucdavis.edu"/>
		<add key="WebHelpDeskEmail" value="jsylvestre@ucdavis.edu"/>
		<!--<add key="HelpDeskEmail" value="csrequests@caes.ucdavis.edu"/>-->
    <add key="RecaptchaPrivateKey" value="[External]"/>
    <add key="RecaptchaPublicKey" value="[External]"/>
    <add key="NewRecaptchaPrivateKey" value="[External]"/>
    <add key="NewRecaptchaPublicKey" value="[External]"/>
    <add key="LDAPUser" value="[External]" />
    <add key="LDAPPassword" value="[External]" />
    <add key="MessageServer" value="https://test.caes.ucdavis.edu/Catbert4/public/message.svc"/>
	</appSettings>
	<connectionStrings>
		<add name="MainDB" connectionString="Data Source=terry;Initial Catalog=HelpRequest;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="CATBERT" connectionString="Data Source=terry;Initial Catalog=CATBERT3;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="RATBERT" connectionString="Data Source=terry;Initial Catalog=RATBERT;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<elmah>
		<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="RATBERT" applicationName="HelpRequest"/>
		<errorMail from="jsylvestre@ucdavis.edu" to="jsylvestre@ucdavis.edu" subject="ELMAH HelpRequest web error response" smtpServer="smtp.ucdavis.edu"/>
	</elmah>
	<system.web>
		<!-- 
						Set compilation debug="true" to insert debugging 
						symbols into the compiled page. Because this 
						affects performance, set this value to true only 
						during development.
		-->
		<httpRuntime requestValidationMode="2.0"/>
		<customErrors mode="RemoteOnly" defaultRedirect="Error">
		</customErrors>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
						The <authentication> section enables configuration 
						of the security authentication mode used by 
						ASP.NET to identify an incoming user. 
		-->
		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="2880"/>
		</authentication>
		<roleManager enabled="true" defaultProvider="CatbertRoleProvider" cacheRolesInCookie="false">
			<providers>
				<add name="CatbertRoleProvider" type="UCDArch.Web.Providers.CatbertRoleProvider" applicationName="HelpRequest" description="HelpRequest" connectionString="CATBERT"/>
			</providers>
		</roleManager>
		<!--
						The <customErrors> section enables configuration 
						of what to do if/when an unhandled error occurs 
						during the execution of a request. Specifically, 
						it enables developers to configure html error pages 
						to be displayed in place of a error stack trace.
-->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Linq"/>
				<add namespace="System.Collections.Generic"/>
				<add namespace="MvcContrib.FluentHtml"/>
				<add namespace="Microsoft.Web.Mvc"/>
				<add namespace="xVal.Html"/>
				<add namespace="HelpRequest.Controllers.Helpers"/>
				<add namespace="HelpRequest.Core.Domain"/>
			</namespaces>
		</pages>
		<httpHandlers>
			<!--<add verb="POST,GET,HEAD" path="Errors.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>-->
			<add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
		</httpHandlers>
		<httpModules>
			<!--<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>-->
		</httpModules>
		<machineKey validationKey="A74570A1E916C6BC9182C8C99517A27311F674ED090457C9B40766E5DA5D49C2027597653E8E75E630CBF38D15F99EF9B7C7842AF44E31CBADC45A9F5176308C" decryptionKey="5329D5A5ECAA2563967CF809285F961DC8C2A5655E2FFB43927E380E7F15807C" validation="SHA1" decryption="AES"/>
	</system.web>
	<system.web.extensions/>
	<!-- 
				The system.webServer section is required for running ASP.NET AJAX under Internet
				Information Services 7.0.  It is not necessary for previous version of IIS.
	-->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
		</modules>
		<handlers>
			<remove name="MvcHttpHandler"/>
			<remove name="UrlRoutingHandler"/>
			<add name="Elmah" verb="POST,GET,HEAD" path="Errors.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
			<add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
